* {
  -webkit-font-smoothing: antialiased;
}
::selection {
  background: #FFF7C7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #FFF7C7; /* Gecko Browsers */
}

/*
 * Globals
 */
body {
  padding: 0 0 20px;
  color: #72767b;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing : 0.4px;
  line-height: 28px;
}
a {
  color: #72767B;
  font-size: 14px;
  font-weight: 400;
  letter-spacing : 0.35px;
  line-height: 28px;
  text-decoration: none;
}
p a {
  text-decoration: underline;
}
h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}
h1 {
  font-family: ‘Lora’, Serif;
  font-size: 42px;
  font-weight: normal;
  color: #484D52;
  line-height: 52px;
  letter-spacing : 1.14px;
  margin-bottom: 1rem;
}
h2, h2 a {
  margin-bottom: 1rem;
  color: #484d52;
  font-size: 32px;
  font-weight: 700;
  letter-spacing : 0.85px;
  line-height: 42px;
}
h3, h3 a {
  margin-bottom: 1rem;
  Color: #484d52;
  font-size: 20px;
  font-weight: 400;
  letter-spacing : 0.52px;
  line-height: 34px;
}
p, pre, ul, ol {
  margin-bottom: 2rem;
}
ul {
  padding-left: 35px;
  list-style: initial;
}
ol {
  padding-left: 35px;
  list-style: decimal;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
img {
  max-width: 100%;
}

/* General */
.container, header, footer {
  max-width: 980px;
  margin: auto;
}
.content-section {
  margin-bottom: 3.75rem;
}
.wio-link {
  background-color: #4846b0 !important;
  color: white;
  position: fixed;
  z-index: 10000;
  padding: 6px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  bottom: 30px;
  right: 30px;
  height: 50px;
  width: 50px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
    -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
    -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-shadow: 0 2px 7px 0 rgba(90, 90, 140, 0.4);
          box-shadow: 0 2px 7px 0 rgba(90, 90, 140, 0.4); }
.wio-link img {
  display: none;
}
.wio-link:after {
  font-family: 'Material Icons';
  content: '\E3C9';
  color: white;
  font-size: 24px;
}

@media (max-width: 767px) {
  h1 {
    font-size: 32px;
    line-height: 40px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 18px;
  }
  ul {
    padding-left: 20px;
  }
}

/* Blog  */

.outer-container {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0;
}
.back {
  color: #9A9A9A;
  display: block;
  max-width: 700px;
  margin: 0 auto 2em auto;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}
.back:before {
  content: '←';
  display: inline-block;
  position: relative;
  margin-right: 8px;
}
.back a {
  color: #9A9A9A;
}
.back a:hover {
  text-decoration: underline;
}
a {
  color: #353535;
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 23px;
}
.blog-main h1, .blog-main .h1,
.blog-main h2, .blog-main .h2,
.blog-main h3, .blog-main .h3,
.blog-main h4, .blog-main .h4,
.blog-main h5, .blog-main .h5,
.blog-main h6, .blog-main .h6 {
  color: #353535;
  text-align: left;
}

.blog-main {
  max-width: 700px;
  margin: auto;
  text-align: left;
}
.blog-main.single img {
  width: 100%;
  height: auto;
}
.blog-main.single a {
  text-decoration: none;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(75%, rgba(0, 0, 0, 0)), color-stop(75%, rgba(0, 0, 0, 0.8)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.8) 75%);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 23px;
}

.blog-post {
  margin: 0;
  margin-bottom: 3rem;
}

.blog-post-meta {
  font-size: 16px;
  font-family: Lato,sans-serif;
  margin-bottom: 8px;
  color: #9a9a9a;
}

@media (max-width: 767px) {
  .home {
    padding: 0 20px;
  }

  .blog-main {
    padding: 0;
    font-size: 18px;
  }
}


